:root {
    --sans: 'Lato', sans-serif;
    --serif: 'Merriweather', serif;
    --full: 620px;
}

.headline {
    width: 620px;
    text-align: center;
    font-family: var(--sans);
    font-size: 3em;
}

main {
    position: relative;
}

.pie-container {
    display: flex;
}

.svg-1 {
    width: 300px;
    position: relative;
    z-index: 2;
}

.arc {
    z-index: 1;
} 

.svg-2 {
    position: relative;
    left: -280px;
}

body {
    background: blue;
}

.label {
    z-index: 1;
    border: 1px solid red;
}

.state-name {
    display: flex;
    width: var(--full);
    justify-content: space-around;
    font-size: 2em;
    font-family: var(--sans);
    text-decoration: underline;
}
