:root {
    --sans: 'Lato', sans-serif;
    --serif: 'Merriweather', serif;
}

main {
    position: relative;
}

.pie-container {
    display: flex;
}

.svg-1 {
    width: 300px;
    position: relative;
    z-index: 2;
}

.arc {
    z-index: 1;
} 

.svg-2 {
    position: relative;
    left: -280px;
}

body {
    background: blue;
}

.label {
    z-index: 1;
    border: 1px solid red;
}

