[class*="icon-"] {
    width: 32px;
    height: auto;
}

footer {
    a {
        margin: 5px 20px;
    }
}

// .icon-github {
//     background-image: url('../assets/images/GitHub-Mark/PNG/GitHub-Mark-32px.png');
//     background-size: 32px 32px;
// }