.selector-container {
    display: flex;
    width: 620px;
    justify-content: space-between;
    color: white;
    font-family: var(--sans);
    position: relative;
    font-size: 2em;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding: 0 10px;
}

[class*='select-'] {
    position: relative;
    z-index: 3;
}
[class*='select-']:hover {
    cursor: pointer;
}

[class*='select-wrapper-'] {
    display: flex;
    flex-direction: column;
}

.select-wrapper-2 {
    align-items: flex-end
}

.select-wrapper-1 {
    align-items: flex-start
}

[class*='state-list'] {
    position: absolute;
    background: purple;
    top: 40px;
    height: 400px;
    overflow-y: auto;
}

[class*='state-list']:hover {
    cursor: pointer;
}

[class*='state-list'] li {
    background: red;
    font-size: .6em;
    width: 135px;
    padding: 3px;
    border-bottom: 1px solid transparent;
}

.state-list-2 {
    text-align: right;
}

[class*='state-list'] li:hover {
    border-bottom: 1px solid white;
}

#scrollbar1 { 
  width: 520px; 
  clear: both; 
  margin: 20px 0 10px;
  
}

.master-list {
    position: absolute;
    z-index: 3;
    top: 295px;
    left: 330px;
    display: flex;
}

.master-list li {
    margin: 10px 15px;
}

.text-list {

}

.text-box {
    text-align: center;
    display: block;
    width: 145px;
    height: 30px;
    font-size: 1.2em;
    padding: 2px;
    font-family: var(--sans)
}

.left-list li {
    text-align: right;
    margin-right: -5px;
}

.right-list li {
    margin-left: -5px;
}

.box {
    font-family: var(--serif);
    width: 70px;
    height: 30px;
    margin: 0 15px;
}

