.selector-container {
    display: flex;
    width: 620px;
    justify-content: space-between;
    color: white;
    font-family: var(--sans);
    position: relative;
    font-size: 2em;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding: 0 10px;
}

option:hover {
    border-bottom: 1px solid white;
}

.master-list {
    position: absolute;
    z-index: 3;
    top: 295px;
    left: 330px;
    display: flex;
}

.master-list li {
    margin: 10px 15px;
}

.text-list {

}

.text-box {
    text-align: center;
    display: block;
    width: 145px;
    height: 30px;
    font-size: 1.2em;
    padding: 2px;
    font-family: var(--sans)
}

.left-list li {
    text-align: right;
    margin-right: -5px;
}

.right-list li {
    margin-left: -5px;
}

.box {
    font-family: var(--serif);
    width: 70px;
    height: 30px;
    margin: 0 15px;
}