.sub-data-container {
    display: flex;
    // position: absolute;
    justify-content: space-evenly;
    width: 100%;
}

[class*='sub-data-'] {
    // height: 50px;
    position: relative;
}

[class*='sub-data-svg-'] {
    position: absolute;
        bottom: 2px;
      transform: rotate(180deg)
}

.sub-data-svg-1 {
      right: 186px;
}

.sub-data-svg-2 {
    left: 186px;
}

.sub-data-tooltip {
    display: block;
    width: 120px;
    height: 40px;
    background: green;
    position: relative;
    z-index: 5;
}

.legend-container {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;

}

[class*='sub-data-legend-svg-'] {
      width: 350px;
      padding: 8px;
}

.sub-data-details-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
      bottom: 248px;

     > ul {
        width: 312px;
        padding: 5px;
        margin: 0px 10px;
        display: flex;
        box-sizing: content-box;
        color: white;
        overflow-wrap: break-word;
        height: 130px;
        font-family: var(--sans);
        font-size: 1.2em;
        flex-direction: column;
        justify-content: space-between;
        li:first-of-type {
            font-size: 1.2em;
            text-align: center;
        }
    }
    p {
        font-family: var(--serif);
    }
}

