.tax-types-list {
    position: absolute;
    z-index: 3;
    top: 184px;
    left: 249px;
    display: flex;
    flex-direction: column;
}

.tax-types-list li {
    font-size: 1.2em;
    font-family: var(--sans);
    font-weight: bold;
    text-align: center;
    display: block;
    width: 135px;
    margin: 10px 0;
}